{% extends "base.html" %}

{% load rand_extras %}

{% block navbar %}
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li class="navbar-before-search"><a href="#">Beer Profile</a></li>
	</ul>
	<form action="/search/" method="get" class="navbar-form navbar-left nav-middle-bar form-group" role="search">
		{{ search_form }}
		<input type="submit" class="button" value="search">
	</form>
	
	<form class="navbar-form navbar-right nav-middle-bar form-group" action = "/logout">
		<input type="submit" class = "button" id="btnLogOut" value="Log Out">
	</form>
{% endblock %}

{% block login %}

	<h1>Recently Rated</h1>
	{% for beer in beers %}
    	<p>
    		Name: {{ beer.name }}
    		<br>
    		Rating: {{ beer.rating }}
    	</p>
    {% endfor %}

	{{ block.super }}
{% endblock %}

{% block main %}
<!-- Banner -->
<div id="main" style="background-image:none;">

	<div class="actions">
		<br>
		<div class="main_beerbutton" id="randomButton">
			<button id="btnRandBeer" type="button" class="button biggest" onclick="">Generate Random Beer</button>
		</div>			
		<br><br><br>

		{{value|getNewName}}
		<div id="randomBeerInfo" >   
			<div class = "row-beerinfo">
				{% block beer %}
					{{value|getNewName}}
				{% endblock %}
				<div class = "col-md-4">
					<div id="randomBeerLabel">
						{% block label %}
							<img src="{{value|getLabel}}" alt="Beer Label" class = "pull-right" width = "100%">				
						{% endblock %}

					</div>
				</div>
        		<div class="col-md-8">
				
					<h3>
						<p id="randomBeerName" class = "pull-left">
							{% block name %}
								{{value|getName}}
							{% endblock %}	
						</p>
					</h3>
					<br><br><br>
					<p id="randomBeerStyle" class = "pull-left">
						{% block style %}
							{{value1|getStyle}}
						{% endblock %}
					</p>
					<br><br>
					<p id="randomBeerAbv" class = "pull-left">
						{% block abv %}
							{{value|getAbv}}
						{% endblock %}
					</p>
					<br><br>
					<p id="randomBeerDescription" class = "pull-left">
						{% block description %}
							{{value|getDescription}}
						{% endblock %}
					</p>
				</div>
			</div>
			<div id="rating" style="padding: 30px">
				<h2>Rating</h2>
				<form action="/rate" method="post">
		            {% for radio in beer_form.rating %}{% csrf_token %}
						<div class="myradio">
						    {{ radio }}
						</div>
					{% endfor %}
		            <input type="hidden" value="{{ next_url }}" name="next_url">
		            <input type="hidden" value="{{ value|getName }}" name="beer_name">
		            <input id="btnRate" type="submit" value="Rate!">
		        </form>
			</div>
		</div>

	</div>
</div>
{% endblock %}