{% extends "base.html" %}

{% load rand_extras %}

{% block navbar %}
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li class="navbar-before-search"><a href="#">Beer Profile</a></li>
	</ul>
	<form action="/search/" method="get" class="navbar-form navbar-left nav-middle-bar form-group" role="search">
		{{ search_form }}
		<input type="submit" class="button" value="search">
	</form>
	
	<form class="navbar-form navbar-right nav-middle-bar form-group" action = "/logout">
		<input type="submit" class = "button" id="btnLogOut" value="Log Out">
	</form>
{% endblock %}

{% block login %}

	<h1>Recently Rated</h1>
	{% for beer in beers %}
    	<p>
    		Name: {{ beer.name }}
    		<br>
    		Rating: {{ beer.rating }}
    	</p>
    {% endfor %}

{% endblock %}


{% block main %}

	{{ block.super }}

{% endblock %}