{% extends "base.html" %}

{% load rand_extras %}

{% block login %}
		<div class="nav">
		    <br><br><br><br>
			<div class="active"><a href="/"><h2>Home</h2></a></div> 
			<form action="/login" method="post" id="loginForm">{% csrf_token %}
		        {% for field in auth_form %}
		        {{ field }}
		        {% endfor %}
			    <br><br>
		        <input type="submit" id="btnLogIn" value="Log In">
	    	</form>
	    </div>
	    
	    <div class="middle" id="signupForm">
			<form action="/signup" method="post">{% csrf_token %}
	            {% for field in user_form %}
	            {{ field }}
	            {% endfor %}
	            <input type="submit" value="Create Account">
    		</form>
		</div>
{% endblock %}

{% block main %}
<!-- Banner -->
<section id="banner">
	<h2>Fortuna Beer</h2>
	<p>May the odds be ever in your favor</p>
	<div class="actions">
		<div class="middle" id="randomButton">
			<button type="button" class="button big" onclick="window.location.reload()">Get Random Beer</button>
		</div>

		<div id="randomBeerInfo" >
			<div id="randomBeerName">
				{% block name %}
					{{value|getName}}
				{% endblock %}
			</div>

			<div id="randomBeerStyle">
					{% block style %}
						{{value1|getStyle}}
					{% endblock %}
			</div>
			<div id="randomBeerAbv">
					{% block abv %}
						{{value|getAbv}}
					{% endblock %}
			</div>
			<div id="randomBeerDescription" >
					{% block description %}
						{{value|getDescription}}
					{% endblock %}
			</div>
			<br><br>
			<div id="randomBeerLabel">
				{% block label %}
				<img src="{{value|getLabel}}" alt="Smiley face">
					
				{% endblock %}
			</div>
		</div>
		<!-- <a href="#" class="button big">Find a Beer</a> -->

		
	</div>
</section>
{% endblock %}