{% extends "base.html" %}

{% load rand_extras %}

{% block navbar %}
	<form class="navbar-nav navbar-right nav-middle-bar" action="/login" method="post">{% csrf_token %}
        {% for field in auth_form %}
        	{{ field }}
        {% endfor %}
        <input type="submit" id="btnLogIn" value="Log In">
	</form>
{% endblock %}

{% block login %}
	    <div class = "nav_center">
	   		<h3> Join Us! </h3>
	   		<h5> Save randomly generated beers, customize beer preferences, and more! </h5>
	   	</div>
	    <div class="nav_center" id="signupForm">
			<form action="/signup" method="post">{% csrf_token %}
        	    {% for field in user_form %}
         	   		{{ field }}
        	    {% endfor %}
           		<br><br>
            	<input type="submit" value="Create Account">
			</form>
		</div>
		<div class = "nav_center">
		</div>
{% endblock %}

{% block main %}

	{{ block.super }}

	{% block rating %}
	{% endblock %}

{% endblock %}