{% extends "base.html" %}

{% load search_extras %}

{% block navbar %}
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li class="navbar-before-search"><a href="#">Beer Profile</a></li>
	</ul>
	<form action="/search/" method="get" class="navbar-form navbar-left nav-middle-bar form-group" role="search">
		{{ search_form }}
		<input type="submit" class="button" value="search">
	</form>
	
	<form class="navbar-form navbar-right nav-middle-bar form-group" action = "/logout">
		<input type="submit" class = "button" id="btnLogOut" value="Log Out">
	</form>
{% endblock %}

{% block login %}
	{{ block.super }}

	<h1>Recently Rated</h1>
	{% for beer in beers %}
    	<p>
    		Name: {{ beer.name }}
    		<br>
    		Rating: {{ beer.rating }}
    	</p>
    {% endfor %}
{% endblock %}

{% block main %}
<!-- Banner -->
<div id="main" style="background-image:none;">

	<div class="actions">
		<br>
		<div class="main_beerbutton" id="randomButton">
			<button id="btnRandBeer" type="button" class="button biggest" onclick="window.location.reload()">Generate Random Beer</button>
		</div>			
		<br><br><br>

		<div class="row"> 
			<div id="randomBeerInfo" >   
	        	<div class="col-sm-8">
				    <div id="test">
						{% block test %}
						Searching Results for <strong>{{searchName}}</strong>
						{% endblock %}
					</div>
					<br>
                    
					<div id="searchBeerName">
						{% block name %}
							{% getResults searchName as beers %}

							{% for beer in beers %}
							<ul><a href="detail.html/{{beer.1}}/">{{beer.0}}</a></ul>

							{%endfor%}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}