{% extends "base.html" %}

{% load search_extras %}



{% block main %}
<!-- Banner -->
<div id="main" style="background-image:none;">

	<div class="actions">
		<br>
		<div class="main_beerbutton" id="randomButton">
			<button id="btnRandBeer" type="button" class="button biggest" onclick="window.location.reload()">Generate Random Beer</button>
		</div>			
		<br><br><br>

		<div class="outerBlock"> 
			<div id="randomBeerInfo" >   
				    <div id="">
						{% block test %}
							"{{searchName}}" returns following results:
						{% endblock %}
					</div>
					<br>
                    
					<div id="searchBeerName">
						{% block name %}
							{{searchName|getResults}}
						{% endblock %}
					</div>
					

			</div>
			
		</div>
	</div>
</div>
{% endblock %}