{% extends "base.html" %}

{% load search_extras %}

{% block navbar %}
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li class="navbar-before-search"><a href="#">Beer Profile</a></li>
	</ul>
	<form action="/search/" method="get" class="navbar-form navbar-left nav-middle-bar form-group" role="search">
		{{ search_form }}
		<input type="submit" class="button" value="search">
	</form>
	
	<form class="navbar-form navbar-right nav-middle-bar form-group" action = "/logout">
		<input type="submit" class = "button" id="btnLogOut" value="Log Out">
	</form>
{% endblock %}

{% block login %}
	{{ block.super }}

	<h1>Recently Rated</h1>
	{% for beer in beers %}
    	<p>
    		Name: {{ beer.name }}
    		<br>
    		Rating: {{ beer.rating }}
    	</p>
    {% endfor %}
{% endblock %}

{% block main %}
<!-- Banner -->
<div id="main" style="background-image:none;">

	<div class="actions">
		<br>
		<div class="main_beerbutton" id="randomButton">
			<button id="btnRandBeer" type="button" class="button biggest" onclick="window.location.reload()">Generate Random Beer</button>
		</div>			
		<br><br><br>

		<div class="row"> 
			<div id="randomBeerInfo" >   
	        	<div class="col-sm-8">
				    <div id="test">
						{% block test %}
							{{searchName}}
						{% endblock %}
					</div>
					<br>
                    
					<div id="searchBeerName">
						{% block name %}
							{{searchName|getResults}}
						{% endblock %}
					</div>
					
				</div>

			</div>
			
			<div class="row" style="padding: 30px">
				<h2>Rating</h2>
				<form action="/rate" method="post">
		            {% for radio in beer_form.rating %}{% csrf_token %}
						<div class="myradio">
						    {{ radio }}
						</div>
					{% endfor %}
		            <input type="hidden" value="{{ next_url }}" name="next_url">
		            <input id="btnRate" type="submit" value="Rate!">
		        </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}