{% load rand_extras %}

	<head>
		<meta charset="UTF-8">
		<title>Fortuna Beer</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/driver.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/skel.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Fortuna Beer</a></h1>
				<nav id="nav">
					<ul>
						<!-- <li><a href="index.html">Menu</a></li> -->
						<!-- <li><a href="{{ STATIC_URL }}generic.html">Create Account</a></li>
						<li><a href="{{ STATIC_URL }}elements.html">Log In</a></li> -->
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Fortuna Beer</h2>
				<p>May the odds be ever in your favor</p>
				<ul class="actions">
					<li>
						<div class="middle" id="randomButton">
							<button type="button" class="button big" onclick="getRandomBeer()">Get Random Beer</button>
						</div>

 						<div id="randomBeerInfo">
 							<div id="randomBeerName">
	 							{% block name %}
	 								{{value|getName}}
	 							{% endblock %}
							</div>
							<div id="randomBeerStyle">
	 							{% block style %}
	 								{{value1|getStyle}}
	 							{% endblock %}
							</div>
							<div id="randomBeerAbv">
	 							{% block abv %}
	 								{{value|getAbv}}
	 							{% endblock %}
							</div>
							<div id="randomBeerDescription">
	 							{% block description %}
	 								{{value|getDescription}}
	 							{% endblock %}
							</div>
						</div>
						<!-- <a href="#" class="button big">Find a Beer</a> -->
					</li>
				</ul>
			</section>


	</body>

	