	<head>
		<meta charset="UTF-8">
		<title>Fortuna Beer</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/driver.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/skel.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Fortuna Beer</a></h1>
				{% block login %}
					<div style="text-align: right">
			            <a href="/">Home</a> | 
			            {# <a href="/users/{{ username }}">My Profile</a> | #}
			            <a href="#" onClick="return false;">My Profile</a> | 
			            <a href="/randBeers">Favorite Beers</a>
			            <form action="/logout">
			                <input type="submit" id="btnLogOut" value="Log Out">
			            </form>
			        </div>
				{% endblock %}
			</header>

		{% block main %}
			stuff
		{% endblock %}


	</body>

	